# Server
PORT=8080

# Database
DATABASE_URL=postgres://user:password@localhost:5432/prooffolio

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_REDIRECT_URI=http://localhost:8080/auth/github/callback

# JWT
JWT_SECRET=change_me

# LLM API
GROQ_API_KEY=your_llm_api_key